.email,
.location,
.phone {
  display: flex;
}
p {
  display: flex-end;
}

.main {
  height: 400px;
  
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);

  margin-top: 100px;
  padding: 20px 20px;
  box-shadow: 10px 10px rgba(1, 73, 206, 0.2),
    15px 15px rgba(111, 154, 235, 0.2);
  width: 400px;
  border-radius: 10px;
  text-align: center;
}
.user-email,
.user-phone,
.user-location {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}
.image-title-box {
  display: flex;
  align-items: center;
}

.img {
  border-radius: 50%;
  margin-top: 20px;
  width: 20%;
  display: flex-start;
}
.full-name {
  display: flex-end;
}

.info {
  margin-left: 80px;
  font-weight: 500;
}

.text{
    margin-left: 50px;
}

